
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    width: 3;
    height: 300px; /* Define la altura del encabezado */
    background-image: url('imagenes/tabla.jpg'); /* Ruta a tu imagen */
    background-size:cover; /* Ajusta la imagen para cubrir todo el área */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
  }

.logo{
   position: relative;
   top: 5%;
   left: 5%;
}
.name{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    flex: 2;
    position: relative;
    color:#BBBBBB;
    top: 0%;
    left: 0%;
}
.contact-info{
    position: relative;
    text-align: right;
    flex: 1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 125%;
    bottom: 6%;
    color:#BBBBBB;
    top: 6%;
}

body{
    background-image: url(imagenes/f709b240-60b6-42d4-83cd-a6dbddd15ad7.png);
    color:#BBBBBB;
}
.menu-items {
    list-style-position: inside; /* para que los números estén dentro del recuadro */
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
  }
  
  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .menu-item img {
    border-radius: 10px; /* opcional, hace que las imágenes se vean con bordes redondeados */
  }
  


*{
    margin: 0;
    padding: 0;
    border: 0;
}